body {
  font-family: "Marmelad", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: rgba(0, 0, 0, 0.74);
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
}

form {
  padding: 15px;
  background-color: #d9e9d85c;
  border-radius: 10px;
}

.main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg-img {
  background: url(../uploads/background-section1.jpg) center, no-repeat;
  background-size: cover;
}

.text-color {
  color: aliceblue;
}
