body {
  font-family: "Marmelad", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
  color: rgba(0, 0, 0, 0.74);
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
}

h1 {
  text-transform: uppercase;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.form-style {
  padding: 15px;
  background-color: #d9e9d85c;
  border-radius: 10px;
  box-shadow: -4px 10px 42px -12px rgba(30, 84, 206, 0.58);
}

.create-head {
  color: #fff;
  text-align: center;
}

.main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 40px;
  padding-top: 40px;
}

.blog-bg {
  background: url(../uploads/blog-bag.jpg) center no-repeat;
  background-size: cover;
}

.bg-img {
  background: url(../uploads/background-section1.jpg) center, no-repeat;
  background-size: cover;
}

.post-bg {
  background: url(../uploads/bg-form.jpg) center no-repeat;
  background-size: cover;
}

.text-color {
  color: aliceblue;
}

.row-spacing-col > [class*=col-] {
  margin-bottom: 25px;
}

.row-side {
  margin-left: 0;
  margin-right: 0;
}

.blog-head {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.blog-head h1 {
  color: #474d50;
  margin-bottom: 0;
}

.post {
  padding: 10px;
  background-color: #b9e1edd4;
  border-radius: 10px;
  box-shadow: -4px 10px 42px -12px rgba(39, 50, 52, 0.87);
}

.post-inner h4 a {
  color: #474d50;
}
.post-inner p {
  margin-bottom: 5px;
}

.post-img {
  margin-bottom: 11px;
  border-radius: 10px;
  overflow: hidden;
}
.post-img img {
  width: 100%;
  border-radius: 10px;
  transition: all 0.4s ease;
}
.post-img :hover img {
  transform: scale(1.2);
}

.small-post-img {
  height: 193px;
}

.btn-pos {
  align-items: center;
  margin-top: 28px;
}

.date-comm {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 30px;
  margin-bottom: 10px;
}

.date-cr p {
  margin-bottom: 0;
}

.icon-com i {
  font-size: 26px;
}

.comments {
  padding: 10px;
  background-color: #ffffff59;
  border-radius: 10px;
  margin-bottom: 10px;
}

.post-category {
  position: relative;
  margin-top: -34px;
  text-align: center;
  background-color: #17a3b8;
  color: #fff;
  font-size: 19px;
  border-radius: 0 0 10px 10px;
  margin-bottom: 5px;
}
.post-category a {
  color: #fff;
  text-decoration: none;
  transition: color 0.4s ease;
}
.post-category a:hover {
  color: #e7e95b;
}

.category-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #d9e9d85c;
  padding: 10px;
  border-radius: 5px;
}
.category-wrapper h4 {
  color: #fff;
  margin-bottom: 0;
}

.big-post-cat {
  margin-top: -56px;
  margin-bottom: 10px;
  max-width: 180px;
  border-radius: 0 10px 0 10px;
  font-size: 36px;
}

.big-p-head {
  justify-content: space-between;
}

.icon-com {
  position: relative;
}

.count_com {
  position: absolute;
  top: -4px;
  right: -4px;
  width: 18px;
  height: 18px;
  background-color: #17A2B8;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 12px;
}

.admin-page {
  padding-top: 40px;
  padding-bottom: 30px;
}

.admin-head {
  display: flex;
  align-items: center;
}
.admin-head h1 {
  color: #fff;
}

.admin-form {
  background-color: rgba(255, 255, 255, 0.842);
}

.adm-img {
  margin-bottom: 0;
}

.adm-post {
  background-color: #f0f3e598;
  box-shadow: -4px 10px 42px -12px rgba(229, 241, 234, 0.87);
}

.wrapper-edit {
  display: none;
}

.wrapper-on {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  background-color: #000000c2;
}

.close-edit {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.main-col {
  z-index: 2;
}

.sign {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding-top: 50px;
  background-color: rgba(250, 235, 215, 0.74);
}
