body {
  font-family: "Marmelad", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: rgba(0, 0, 0, 0.74);
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
}

.form-style {
  padding: 15px;
  background-color: #d9e9d85c;
  border-radius: 10px;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 40px;
}

.blog-bg {
  background: url(../uploads/blog-bag.jpg) center no-repeat;
  background-size: cover;
}

.bg-img {
  background: url(../uploads/background-section1.jpg) center, no-repeat;
  background-size: cover;
}

.post-bg {
  background: url(../uploads/bg-form.jpg) center no-repeat;
  background-size: cover;
}

.text-color {
  color: aliceblue;
}

.row-spacing-col > [class*=col-] {
  margin-bottom: 25px;
}

.row-side {
  margin-left: 0;
  margin-right: 0;
}

.main-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-title h1 {
  color: #474d50;
}

.post {
  padding: 10px;
  background-color: #b1cfe194;
  border-radius: 10px;
}

.post-inner h4 a {
  color: #474d50;
}

.post-img {
  margin-bottom: 10px;
  border-radius: 10px;
  overflow: hidden;
}
.post-img img {
  width: 100%;
  border-radius: 10px;
  transition: all 0.4s ease;
}
.post-img :hover img {
  transform: scale(1.2);
}

.btn-pos {
  align-items: center;
  margin-top: 30px;
}

.date-comm {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 15px;
}

.date-cr p {
  margin-bottom: 0;
}

.icon-com i {
  font-size: 26px;
}

.comments {
  padding: 10px;
  background-color: #ffffff59;
  border-radius: 10px;
  margin-bottom: 10px;
}

.post-category {
  position: relative;
  margin-top: -46px;
  text-align: center;
  background-color: #50a7eed8;
  max-width: 60px;
  border-radius: 0 5px 5px 0;
  color: white;
  font-size: 19px;
}

.big-post-cat {
  margin-top: -60px;
  max-width: 180px;
  border-radius: 0 10px 0 10px;
  font-size: 36px;
}
