body {
	font-family: 'Nunito', sans-serif;
	font-weight: 400;
	font-size: 16px;
	background-color: rgba(203, 222, 135, 0.212);
}

.main-section {
	display: flex;
	align-items: center;
	justify-content: center;
}

.wrapper {
	padding-top: 100px;
}

form,
.task-wrapper {
	background-color: lavender;
	padding: 15px;
	border-radius: 10px;}
}

.form-btn {
	display: flex;
	justify-content: space-between;
}

.task-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.edit-wrapper {
	display: none;
}

.wrapper-on {
	display: block;
}