body {
	font-family: 'Nunito', sans-serif;
	font-weight: 400;
	font-size: 16px;
	background-color: rgba(203, 222, 135, 0.212);
}

.main-section {
	display: flex;
	align-items: center;
	justify-content: center;
}

.wrapper {
	padding-top: 100px;
}

form,
.task-wrapper {
	background-color: lavender;
	padding: 15px;
	border-radius: 10px;}
}

.form-btn {
	display: flex;
	justify-content: space-between;
}

.task-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.edit-wrapper {
	display: none;
}

.wrapper-on {
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	justify-content: center;
	align-items: center;
	background-color: #000000ad;
}

.edit-inner {
	width: 735px;
	z-index: 2;
}

.task-done {
	text-decoration: line-through;
}

.text-center {
	text-align: center;
}

.close-edit {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
}