body {
	font-family: 'Marmelad', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.3;
	color: rgba(0, 0, 0, 0.74);
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Manrope', sans-serif;
	font-weight: 700;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

.form-style {
	padding: 15px;
	background-color: #d9e9d85c;
	border-radius: 10px;
}

.main {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-bottom: 40px;
	padding-top: 40px;
}

.blog-bg {
	background: url(../uploads/blog-bag.jpg)center no-repeat;
	background-size: cover;
}

.bg-img {
	background: url(../uploads/background-section1.jpg)center, no-repeat;
	background-size: cover;
}

.post-bg {
	background: url(../uploads/bg-form.jpg)center no-repeat;
	background-size: cover;
}

.text-color {
	color: aliceblue;
}

.row-spacing-col {

	> [class*='col-'] {
		margin-bottom: 25px;
	}
}

.row-side {
	margin-left: 0;
	margin-right: 0;
}

.blog-head {
	display: flex;
	align-items: center;
	margin-bottom: 20px;

	h1 {
		color: #474d50;
		margin-bottom: 0;
	}
}

.post {
	padding: 10px;
	background-color: #b9e1edd4;
	border-radius: 10px;
}

.post-inner {

	h4 {

		a {
			color: #474d50;
		}
	}

	p {
		margin-bottom: 5px;
	}
}

.post-img {
	margin-bottom: 11px;
	border-radius: 10px;
	overflow: hidden;

	img {
		width: 100%;
		border-radius: 10px;
		transition: all 0.4s ease;
	}

	:hover {
		img {
			transform: scale(1.2);
		}
	}
}

.small-post-img {
	height: 193px;
}

.btn-pos {
	align-items: center;
	margin-top: 28px;
}

.date-comm {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-right: 30px;
	margin-bottom: 10px;
}

.date-cr {
	
	p {
		margin-bottom: 0;
	}
}

.icon-com {
	
	i {
		font-size: 26px;
	}
}

.comments {
	padding: 10px;
	background-color: #ffffff59;
	border-radius: 10px;
	margin-bottom: 10px;
}

.post-category {
	position: relative;
	margin-top: -34px;
	text-align: center;
	background-color: #17a3b8;
	font-size: 19px;
	border-radius: 0 0 10px 10px;
	margin-bottom: 5px;

	a {
		color: #fff;
		text-decoration: none;
		transition: color .4s ease;

		&:hover {
			color: rgb(231, 233, 91);
		}
	}
}

.big-post-cat {
    margin-top: -56px;
	margin-bottom: 10px;
    max-width: 180px;
	border-radius: 0 10px 0 10px;
    font-size: 36px;
}

.big-p-head {
	justify-content: space-between;
}

.icon-com {
	position: relative;
}

.count_com {
	position: absolute;
	top: -4px;
	right: -4px;
	width: 18px;
	height: 18px;
	background-color: #17A2B8;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	font-size: 12px;
}